/*
File: style.css
*/

/* Table styling */
.table-responsive {
    max-height: 400px;
}
.table th, .table td {
    min-width: 50px;
    text-align: center;
}

/* Table sticky header row, header column, and intersecting cell */
.table thead th {
    position: sticky;
    top: 0;
}
.table tbody th {
    position: sticky;
    left: 0;
}
.table thead tr:first-child th:first-child {
    left: 0;
    z-index: 1;
}

/* Table checkered coloring */
.table th, .table tr:nth-child(even) td, .table tr td:nth-child(odd) {
    background-color: var(--bs-light);
}