/* File: style.css */

/* Board styling */
div:has(> #scrabble-board) {
    margin: 30px auto;
    width: max-content;
}

#scrabble-board {
    display: block;
    width: 613px;
    height: 44px;
}

#scrabble-board-squares {
    display: flex;
    list-style-type: none;
    gap: 2px;
    padding: 0;
    position: absolute;
    left: 0;
    top: 3px;
}

/* Holder and bag layout styling */
#holder-and-bag-group {
    margin: 30px auto;
    width: max-content;
}

/* Tile holder styling */
#scrabble-holder {
    display: inline-block;
    height: 91px;
    width: 320px;
}

#scrabble-holder-squares {
    display: flex;
    list-style-type: none;
    gap: 2px;
    padding: 0;
    position: absolute;
    left: 20px;
    top: 20px;
}

/* Tile square styling */
[class^="square-"] {
    width: 38.8px;
    height: 39px;
}

/* Bag styling */
#scrabble-bag {
    display: inline-block;
    width: 125px;
    height: 112px;
}

/* Tile styling */
.scrabble-tile {
    width: 38px;
    height: 38px;
}

/* Scoreboard styling */
table {
    width: 100%;
    min-height: 200px;
    min-width: 270px;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    margin: 10px 0px 10px 0px;
    table-layout: fixed;
}

table th {
    font-size: 40px;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
}

table td {
    font-size: 18px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
    vertical-align: middle;
}

/* Button console styling */
#button-console {
    margin: 0px auto;
    width: max-content;
}

#swap-tile {
    width: 62px;
    height: 56px;
}